<h4 class="text-center">{{ collectionName }}</h4>
<div style="padding-bottom: 15px;"></div>
<a [routerLink]="'/addphototocollection'"
   [queryParams]="{id: collection.id}" class="btn btn-outline-info" role="button">Add Photo</a>
<div style="padding-bottom: 15px;"></div>
<div class="card-group">
  <ng-container *ngIf="collectionPhotos.length === 0; else photos">
    <p>No Photos Inside Collection 😭</p>
  </ng-container>
  <ng-template #photos>
    <div *ngFor="let photo of collectionPhotos" class="card">
      <p class="card-text m-3 text-info-emphasis">{{photo.name}}</p>
      <img [src]="photo.imageDataUrl" class="card-img" alt="Collection Photo">
      <div class="card-footer">
        <button class="btn btn-outline-danger container-fluid" (click)="btnDelete_click(photo)">Delete</button>
      </div>
    </div>
  </ng-template>
</div>
