<!--
Programming Mobile Apps
Authors: Johnstanley Ajagu,
         Will Smith
Student ID: 8864315,
            88*****
-->
<div>
  <a class="btn btn-outline-primary" routerLink="/addCollections" role="button">Add Collections</a>
</div>

<div class="m-3"></div>
<div class="card-group">
  <div class="card">
    <a routerLink="/modifyCollections">
      <img src="/assets/img/Me.jpg" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
    </div>
    <div class="card-footer">
      <small class="text-body-secondary">Collection 1</small>
    </div>
  </div>
  <div class="m-3"></div>
  <div class="card">
    <a routerLink="/modifyCollections">
      <img src="/assets/img/willPhoto.jfif" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
    </div>
    <div class="card-footer">
      <small class="text-body-secondary">Collection 2</small>
    </div>
  </div>
  <div class="m-3"></div>
  <div class="card">
    <a routerLink="/modifyCollections">
      <img src="/assets/img/willPhoto.jfif" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
    </div>
    <div class="card-footer">
      <small class="text-body-secondary">Collection 3</small>
    </div>
  </div>
</div>

