<!--
Programming Mobile Apps
Authors: Johnstanley Ajagu,
         Will Smith
Student ID: 8864315,
            88*****
-->
<div>
  <a class="btn btn-outline-info" routerLink="/addCollections" role="button">Create Collections</a>
</div>

<div style="padding-bottom: 15px;"><!-- DIVIDER --></div>

<div class="card-group">
  <ng-container *ngIf="collections.length === 0; else collectionList">
    <p>No Collections Inside Storage 😢</p>
  </ng-container>
  <ng-template #collectionList>
    <div *ngFor="let collection of collections" class="card">
      <a [routerLink]="'/modifyCollections'" [queryParams]="{id: collection.id}" class="text-decoration-none" role="button">
        <img [src]="collection.thumbnailPhoto" class="card-img-top" alt="Collection Thumbnail">
        <p class="card-text text-info-emphasis m-1">{{ collection.name }}</p>
        <hr>
        <p class="card-text text-info-emphasis m-1">{{ collection.description }}</p>
      </a>
    </div>
  </ng-template>
</div>

