# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
splash.png
build.bat
config.xml
icon.png
plugins.bat
mobile/www/assets/icons/camera.png
mobile/www/assets/icons/gallery.png
mobile/www/assets/icons/hide.png
mobile/www/assets/icons/photo.png
mobile/www/assets/icons/settings.png
mobile/www/assets/img/map.jpeg
mobile/www/assets/img/Me.jpg
mobile/www/assets/img/Snapshots.jpg
mobile/www/assets/img/willPhoto.jfif
mobile/www/favicon.ico
mobile/www/index.html
mobile/www/main-5LWICEBO.js
mobile/www/main-UTYHDFY6.js
