<?xml version='1.0' encoding='utf-8'?>
<widget id="com.SNAPandMap.myapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>SNAPnMAP</name>
  <description>
    Image catalogue app developed for Prog2435 Final exam by:
    Johnstanley Ajagu
    Will Smith
  </description>
  <author email="jajagu4351@conestogac.on.ca" href="https://cordova.apache.org">
    Snap and Map Team
  </author>
  <author email="wsmith7254@conestogac.on.ca" href="https://cordova.apache.org">
    Snap and Map Team
  </author>
  <content src="index.html" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <platform name="android">
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="splash.png"/>
    <preference name="AndroidWindowSplashScreenBackground" value="#ffffff" />
    <preference name="SplashScreenDelay" value="1000"/>
  </platform>
  <icon src="icon.png" />
</widget>
