<!--
Programming Mobile Apps
Authors: Johnstanley Ajagu,
         Will Smith
Student ID: 8864315,
            88*****
-->


<ul class="nav nav-pills nav-fill white-background">
  <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a class="nav-link" routerLink="/home">Home</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/collections">Collections</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/camera">Camera</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/hidden">Hidden</a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/setting">Settings</a>
  </li>
</ul>



<!-- OLD NAV -->

<!--<nav class="navbar navbar-expand-lg bg-body-secondary" style="background-color: #e3f2fd;  z-index: 1000;">-->
<!--  <div class="container-fluid">-->
<!--    <a class="navbar-brand" routerLink="/home">{{ title }}</a>-->
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">-->
<!--      <div class="navbar-nav">-->
<!--        <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>-->
<!--        <a class="nav-link " aria-current="page" routerLink="#">Camera</a>-->
<!--        <a class="nav-link " aria-current="page" routerLink="#">Gallery</a>-->
<!--        <a class="nav-link " aria-current="page" routerLink="#">Settings</a>-->
<!--        <a class="nav-link " aria-current="page" routerLink="/about">About</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->

