<!--
Programming Mobile Apps
Authors: Johnstanley Ajagu,
         Will Smith
Student ID: 8864315,
            88*****
-->
<ul class="nav nav-pills nav-fill white-background">
  <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a class="nav-link" routerLink="/photo"><img class="icon" src="assets/icons/photo.png" alt="Icon of a Photo"></a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/collections"><img class="icon" src="assets/icons/gallery.png" alt="Icon of a Gallery"></a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/camera"><img class="icon" src="assets/icons/camera.png" alt="Icon of a Photo Gallery"></a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/hidden"><img class="icon" src="assets/icons/hide.png" alt="Icon of a eye"></a>
  </li>
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="/setting"><img class="icon" src="assets/icons/settings.png" alt="Icon of a Gear"></a>
  </li>
</ul>


