<!--
Programming Mobile Apps
Authors: Johnstanley Ajagu,
         Will Smith
Student ID: 8864315,
            88*****
-->
<div class="m-4">
  <div class="card">
    <div class="card-header text-center">
      <h2>Add Collection</h2>
    </div>
    <div class="card-body">
      <form #collectionForm="ngForm">
        <div class="mb-3">
          <label for="name">Collection Name</label>
          <input id="name" type="text" class="form-control" name="name"
                 [(ngModel)]="collection.name" #name="ngModel"
          >
        </div>

        <div class="mb-3">
          <label for="thumbnails">Collection Thumbnail</label>
          <input id="thumbnails" type="number" class="form-control" name="thumbnails"
                 [(ngModel)]="collection.thumbnailPhotos" #thumbnails="ngModel"

          >
        </div>
        <div class="mb-3">
          <label for="date">Collection Date</label>
          <input id="date" type="date" class="form-control" name="date">
        </div>
        <div class="mb-3">
          <label for="description">Description</label>
          <textarea id="description" class="form-control" name="description"></textarea>
        </div>

        <div class="text-center m-3 col-6 mx-auto">
          <button class="btn btn-outline-primary container-fluid" (click)="$event">Add</button>
        </div>
      </form>
    </div>
    <div class="card-footer">
      Form values: {{collectionForm.value | json}}
    </div>
  </div>
</div>

