<!--
Programming Mobile Apps
Authors: Johnstanley Ajagu,
         Will Smith
Student ID: 8864315,
            88*****
-->
<div class="m-4">
  <div class="card">
    <div class="card-header text-center">
      <h2>Create Collection</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="collectionForm">
        <div class="mb-3">
          <label for="name">Collection Name</label>
          <input id="name" type="text" class="form-control" formControlName="_name">

          @if (refName.invalid && (refName.touched || refName.dirty)){
            @if(refName.errors?.['required']){
              <small class="text-danger">Collection name  is required</small><br>
            }
            @if(refName.errors?.['minlength']){
              <small class="text-danger">Collection name must be at least {{Min_Length}} char long</small><br>
            }
            @if(refName.errors?.['maxlength']){
              <small class="text-danger">Collection name must be at most {{Max_length}} char long</small><br>
            }
          }

        </div>

        <div class="mb-3">
          <label>Select Thumbnail Photo</label>
          <app-camera></app-camera>
        </div>
        <div class="mb-3">
          <label for="date">Collection Date</label>
          <input id="date" type="date" class="form-control" formControlName="_date">

          @if (refDate.invalid && (refDate.touched || refDate.dirty)){
            @if(refDate.errors?.['required']){
              <small class="text-danger">Collection date is required</small><br>
            }
          }

        </div>
        <div class="mb-3">
          <label for="description">Description</label>
          <textarea id="description" class="form-control" formControlName="_description"></textarea>

          @if (refDescription.invalid && (refDescription.touched || refDescription.dirty)){
            @if(refDescription.errors?.['required']){
              <small class="text-danger">Please add collection description</small><br>
            }
          }

        </div>

        <div class="text-center m-3 mx-auto">
          <button class="btn btn-outline-info container-fluid" (click)="addCollection_click()">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

