<div class="container">
  <div class="card">
    <div class="card-header text-center">
      <h1>Settings</h1>
    </div>
    <div class="card-body">
      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-outline-info" type="button" (click)="$event">Clear Photos</button>
        <button class="btn btn-outline-info" type="button" (click)="$event">Clear Collection</button>
        <button class="btn btn-outline-info" type="button" (click)="$event">Clear Database</button>
        <a class="btn btn-outline-info" routerLink="/authors" role="button">Authors</a>
      </div>
    </div>
  </div>
</div>

