<!--
Programming Mobile Apps
Authors: Johnstanley Ajagu,
         Will Smith
Student ID: 8864315,
            88*****
-->

<div class="m-4">
  <div class="card">
    <div class="card-header text-center">
      <h2>Modify Photo</h2>
    </div>
    <div class="card-body">
      <div class="text-center m-3">
        <img [src]="imgsrc" width="80%" alt="Image placeholder">
      </div>
      <form [formGroup]="modifyPhotoForm">
        <div class="mb-3">
          <label for="photoNameModify">Photo Name</label>
          <input id="photoNameModify" type="text" class="form-control" formControlName="_photoNameModify">

          @if (refModifyName.invalid && (refModifyName.touched || refModifyName.dirty)){
            @if(refModifyName.errors?.['required']){
              <small class="text-danger">Name is required</small><br>
            }
            @if(refModifyName.errors?.['minlength']){
              <small class="text-danger">Name must be at least {{Min_Length}} char long</small><br>
            }
            @if(refModifyName.errors?.['maxlength']){
              <small class="text-danger">Name must be at most {{Max_length}} char long</small><br>
            }
          }

        </div>
        <div class="mb-3">
          <label for="modifyDateCaptured">Date Captured</label>
          <input id="modifyDateCaptured" type="date" class="form-control" formControlName="_modifyDateCaptured">

          @if (refModifiedDateCaptured.invalid && (refModifiedDateCaptured.touched || refModifiedDateCaptured.dirty)){
            @if(refModifiedDateCaptured.errors?.['required']){
              <small class="text-danger">Captured date is required</small><br>
            }
          }

        </div>
        <div class="mb-3">
          <label for="modifyDateAdded">Date Added</label>
          <input id="modifyDateAdded" type="date" class="form-control" formControlName="_modifyDateAdded">

          @if (refModifyDateAdded.invalid && (refModifyDateAdded.touched || refModifyDateAdded.dirty)){
            @if(refModifyDateAdded.errors?.['required']){
              <small class="text-danger">Added date is required</small><br>
            }
          }

        </div>
        <div class="mb-3">
          <label for="modifyPhotoTag">Tag</label>
          <input id="modifyPhotoTag" class="form-control" formControlName="_modifyPhotoTag">
          <div class="text-center m-3 col-3">
            <button type="button" class="btn btn-outline-info container-fluid" (click)="btnModifyTags_click()">Add Tags</button>
          </div>
          @if (refModifyTag.invalid && (refModifyTag.touched || refModifyTag.dirty)){
            @if(refModifyTag.errors?.['required']){
              <small class="text-danger">Tag is required</small><br>
            }
          }

        </div>
        <div class="mb-3">
          <div class="form-check form-switch form-check-reverse">
            <input class="form-check-input" type="checkbox" id="modifyFavouritePhoto" formControlName="_modifyFavouritePhoto">
            <label class="form-check-label" for="modifyFavouritePhoto">Favourite</label>
          </div>
          <div class="form-check form-switch form-check-reverse">
            <input class="form-check-input" type="checkbox" id="modifyHidePhoto" formControlName="_modifyHidePhoto">
            <label class="form-check-label" for="modifyHidePhoto">Hide Photo</label>
          </div>
        </div>
        <div class="text-center m-3 col-6 mx-auto d-grid gap-2">
          <button class="btn btn-outline-info container-fluid" (click)="$event">Capture Photo</button>
          <button class="btn btn-outline-info container-fluid" (click)="btnModify_click()">Update</button>
        </div>
        <div class="text-center m-3">
          <app-maplocation></app-maplocation>
        </div>
      </form>
    </div>
  </div>
</div>


