<!--
Programming Mobile Apps
Authors: Johnstanley Ajagu,
         Will Smith
Student ID: 8864315,
            88*****
-->

<div class="m-4">
  <div class="card">
    <div class="card-header text-center">
      <h2>Modify Photo</h2>
    </div>
    <div class="card-body" *ngIf="photo">
      <div class="text-center m-3">
        <img [src]="photo.imageDataUrl" width="80%" alt="Image placeholder">
      </div>
      <form [formGroup]="modifyPhotoForm">
        <div class="mb-3">
          <label for="photoNameModify">Photo Name</label>
          <input id="photoNameModify" type="text" class="form-control" formControlName="_photoNameModify">

          @if (refModifyName.invalid && (refModifyName.touched || refModifyName.dirty)){
            @if(refModifyName.errors?.['required']){
              <small class="text-danger">Name is required</small><br>
            }
            @if(refModifyName.errors?.['minlength']){
              <small class="text-danger">Name must be at least {{Min_Length}} char long</small><br>
            }
            @if(refModifyName.errors?.['maxlength']){
              <small class="text-danger">Name must be at most {{Max_length}} char long</small><br>
            }
          }

        </div>
        <div class="mb-3">
          <label for="modifyDateCaptured">Date Captured</label>
          <input id="modifyDateCaptured" type="date" class="form-control" formControlName="_modifyDateCaptured">

          @if (refModifiedDateCaptured.invalid && (refModifiedDateCaptured.touched || refModifiedDateCaptured.dirty)){
            @if(refModifiedDateCaptured.errors?.['required']){
              <small class="text-danger">Captured date is required</small><br>
            }
          }

        </div>
        <div class="mb-3">
          <label for="modifyDateAdded">Date Added</label>
          <input id="modifyDateAdded" type="date" class="form-control" formControlName="_modifyDateAdded">

          @if (refModifyDateAdded.invalid && (refModifyDateAdded.touched || refModifyDateAdded.dirty)){
            @if(refModifyDateAdded.errors?.['required']){
              <small class="text-danger">Added date is required</small><br>
            }
          }

        </div>
        <form [formGroup]="modifyTagForm">
          <div class="mb-3">
            <label for="tagName">Tag</label>
            <input id="tagName" type="text" class="form-control" formControlName="_modifyTagName">
            <div class="row">
              <div class="mt-3">
                <button type="submit" class="btn btn-outline-info container-fluid" (click)="btnModifyTags_click()">Add Tag</button>
              </div>
            </div>
            @if (refModifyTag.invalid && (refModifyTag.touched || refModifyTag.dirty)){
              @if(refModifyTag.errors?.['required']){
                <small class="text-danger">Please enter photo tag</small><br>
              }
              @if(refModifyTag.errors?.['maxlength']){
                <small class="text-danger">Name must be at most {{Max_length}} char long</small><br>
              }
            }
          </div>
          <div class=" mb-1" *ngFor="let tag of tags; let i = index" >
            <div class="row">
              <div class="col">
                <input type="text" class="col-4 form-control mb-1" value="{{tag}}" readonly>
              </div>
              <div class="col">
                <button type="submit" class="btn btn-danger" (click)="deleteTag(i)">Delete</button>
              </div>
            </div>
          </div>
        </form>
        <div class="mb-3">
          <div class="form-check form-switch form-check-reverse">
            <input class="form-check-input" type="checkbox" id="modifyFavouritePhoto" formControlName="_modifyFavouritePhoto">
            <label class="form-check-label" for="modifyFavouritePhoto">Favourite</label>
          </div>
          <div class="form-check form-switch form-check-reverse">
            <input class="form-check-input" type="checkbox" id="modifyHidePhoto" formControlName="_modifyHidePhoto">
            <label class="form-check-label" for="modifyHidePhoto">Hide Photo</label>
          </div>
        </div>
        <div class="text-center m-3">
          <app-maplocation></app-maplocation>
        </div>
        <div class="text-center m-3 mx-auto d-grid gap-2">
          <button class="btn btn-outline-info container-fluid" (click)="btnModify_click()">Update</button>
          <button class="btn btn-outline-danger container-fluid" (click)="btnDelete_click()">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>


