.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.navbar-toggler {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
}

.wrapper {
  padding-top: 50px;
  z-index: 1;
}

.content {
  padding-bottom: 50px;
  z-index: 1;
}

