<!--
Programming Mobile Apps
Authors: Johnstanley Ajagu,
         Will Smith
Student ID: 8864315,
            8657254
-->
<div class="mb-2">
  <label *ngIf="isConnected; else notConnectedMessage">Connected 📶</label>
  <ng-template #notConnectedMessage>
    <label>Disconnected 📈</label>
  </ng-template>
</div>
<div style="padding-bottom: 15px;"><!-- DIVIDER--></div>
<div id="deny"></div>
<div class="card-group">
  <ng-container *ngIf="photos.length === 0 && passwordValid; else photoList">
    <p>No 'Hidden Photos' Inside Storage 😢</p>
  </ng-container>
  <ng-template #photoList>
    <div *ngFor="let card of photos" class="card text-center">
      <a [routerLink]="'/modifyPhoto'" [queryParams]="{id: card.id}" role="button">
        <img [src]="card.imageDataUrl" class="card-img-top" alt="photo">
        <p style="padding-top: 10px; margin-top: 10px;" class="card-text text-info-emphasis btn btn-outline-info mb-2">{{card.name}}</p>
      </a>
    </div>
  </ng-template>
</div>

