<!--
Programming Mobile Apps
Authors: Johnstanley Ajagu,
         Will Smith
Student ID: 8864315,
            8657254
-->
<div id="btnContainer">
  <a id="addBtn" class="btn btn-outline-info" routerLink="/camera" role="button">Add Photo</a>

  <button id="favBtn" type="button" class="btn btn-outline-info" role="checkbox" [class.btn-primary]="isFavourite" [class.btn-outline-info]="!isFavourite" (click)="toggleFavourite()">
    <span>{{ favouriteString }}</span>
  </button>

  <a id="sortBtn" class="btn btn-outline-info" role="combobox" (click)="changeSortValue_click()">Sort: {{ sortString }}</a>
  <a id="orderBtn" class="btn btn-outline-info" role="combobox" (click)="changeOrderValue_click()">Sort: {{ orderString }}</a>

</div>
<div style="padding-bottom: 15px;"><!-- DIVIDER--></div>
<div class="card-group">
  <ng-container *ngIf="photos.length === 0; else photoList" class="col-6">
    <p>No Photos Inside Storage 😭</p>
  </ng-container>
  <ng-template #photoList>
      <div *ngFor="let card of photos" class="card text-center">
        <a [routerLink]="'/modifyPhoto'" [queryParams]="{id: card.id}" class="text-decoration-none" role="button">
          <img [src]="card.imageDataUrl" class="card-img-top" alt="photo">
          <p style="padding-top: 10px; margin-top: 10px;" class="card-text text-info-emphasis btn btn-outline-info mb-2">{{card.name}}</p>
        </a>
    </div>
  </ng-template>
</div>

