<!--
Programming Mobile Apps
Authors: Johnstanley Ajagu,
         Will Smith
Student ID: 8864315,
            8657254
-->
<div>
  <a class="btn btn-outline-info" routerLink="/camera" role="button">Add Photo</a>

  <a id="sortBtn" class="btn btn-outline-info" role="combobox" (click)="changeSortValue_click()">Sort: {{ sortString }}</a>

  <button style="margin-left: 15px;" type="button" class="btn btn-outline-info" role="checkbox" [class.btn-primary]="isFavourite" [class.btn-outline-info]="!isFavourite" (click)="toggleFavourite()">
    <span>Favourite</span>
  </button>
</div>
<div style="padding-bottom: 15px;"><!-- DIVIDER--></div>
<div class="card-group">
  <ng-container *ngIf="photos.length === 0; else photoList" class="col-6">
    <p>No Photos Inside Storage 😭</p>
  </ng-container>
  <ng-template #photoList>
    <div *ngFor="let card of photos" class="card">
      <a [routerLink]="'/modifyPhoto'" [queryParams]="{id: card.id}" role="button">
        <img [src]="card.imageDataUrl" class="card-img-top" alt="photo">
        <p>{{card.name}}</p>
      </a>
    </div>
  </ng-template>
</div>

