/* CSS Details:
  - display in grid format
  - grid-template repeats the columns for dynamic generation
  - gap places a gap in   between each card:
 */
.card-group{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 10px;
}

.card-group img {
  max-width: 100%;
  height: auto;
}

#sortBtn{
  padding-left: 5px;
  margin-left: 5px;
}

#addBtn{

}

#favBtn{
  padding-left: 5px;
  margin-left: 5px;
}

#orderBtn{
  padding-left: 5px;
  margin-left: 5px;
}

#btnContainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
