<!--
Programming Mobile Apps
Authors: Johnstanley Ajagu,
         Will Smith
Student ID: 8864315,
            88*****
-->
<div>
  <a class="btn btn-outline-info " routerLink="/camera" role="button">Add Photo</a>

  <a id="sortBtn" class="btn btn-outline-info" role="combobox" (click)="changeSortValue_click()">Sort: {{ sortString }}</a>
</div>
<div style="padding-bottom: 15px;"><!-- DIVIDER--></div>
<div class="card-group">
  <div class="card" id="photoContainer">
    <a routerLink="/modifyPhoto">
      <img src="/assets/img/Me.jpg" class="card-img-top" alt="...">
    </a>
  </div>
  <div class="card">
    <a routerLink="/modifyPhoto">
      <img src="/assets/img/willPhoto.jfif" class="card-img-top" alt="...">
    </a>
  </div>
  <div class="card">
    <a routerLink="/modifyPhoto">
      <img src="/assets/img/willPhoto.jfif" class="card-img-top" alt="...">
    </a>
  </div>
</div>

