<div class="card-text text-lg-center">
  <h4>Mobile Application Final Project developed using angular</h4>
</div>

<div class="d-flex justify-content-center">
  <div class="card text-center mb-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Author</h5>
      <p class="card-text">Johnstanley Ajagu</p>
      <p class="card-text">8864315</p>
      <img src="/assets/img/MyPhoto.jpg" class="d-block w-100" height="200" width="300" alt="">
    </div>
  </div>
</div>
<br>
<div class="d-flex justify-content-center">
  <div class="card text-center mb-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Author</h5>
      <p class="card-text">Will Smith</p>
      <img src="#" alt="">
    </div>
  </div>
</div>
